body {
    z-index: -2;
    background-color: gray;
    background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=La+Jolla&zoom=10&size=2048x1152&maptype=roadmap&key=AIzaSyCGCKZWjbJ7E1cgRiD5r748YZvDtFkLaLY');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#finished{
    margin-left: 60px;
    font-size: 25px;
    color: black;
}

#review{
    margin-left: 60px;
    font-size: 25px;
    color: black;
}