.button {
    margin: 0 auto;
    text-align: center;
}

#start {
    text-align: center;
}

#middlebar:hover a {
    font-size: 200px;
}

#middlebar a {
    color: white;
    font-weight: 700;
    font-size: 175px;
    text-decoration:  none;
    transition: font-size 0.5s;
}

#middlebar {
    margin-top: 130px;
    height: 300px;
    width: 100%;
    text-align: center;
}

label {
    padding-left: 0 !important;
}

#middlebar h1 {
    color: white;
    text-shadow:
    3px 3px  #33235f,
    -1px -1px  #33235f,
    1px -1px  #33235f,
    -1px 1px  #33235f,
    1px 1px #33235f;
}

@media screen and (max-width: 768px) {
    body {
        background-position: center;
        background-size: auto 100%;
    }

    #middlebar a {
        font-size: 100px;
    }
    
    #middlebar:hover a {
        font-size: 125px;
    }
}
