body {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    font-family: 'Muli', sans-serif;
}

a {
    text-decoration: none;
}

#bar::after {
    clear: both;
}

#bar {
    overflow: hidden;
    text-align: center;
    background-color: #33235f;
    height: 70px;
    top: 0;
}

#nav::after{
    clear: left;
}

#nav {
    float: right;
    color: white;
    height: inherit;
    padding-right: 60px;
    vertical-align: middle;
}

#nav ul::after {
    clear: right;
}

#nav ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: inherit;
}

#nav a {
    float: left;
    text-align: center;
    height: inherit;
}

#nav a:hover {
    color: white;
    cursor: pointer;
    background-color: #8f78bd;
}

#nav li {
    height: 100%;
    width: 120px;
    margin: 0 auto;
    font-size: 17px;
    font-weight: 300;
    color: white;
    text-decoration: none;
    display: table;
}

#nav span {
    display: table-cell;
    vertical-align: middle;
}

#title {
    margin-left: 50px;
    padding: 10px;
    float: left;
}

#title h1 {
    margin: 0;
}

#title a {
    font-weight: 700;
    color: white;
    font-size: 40px;
    text-decoration:  none;
}

button {
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    background-color: #33235f;
    text-align: center;
    padding: 13px;
    width: 130px;
    font-weight: 300;
    color: #FFFFFF;
    font-size: 16px;
}

#mb-container {
    height: 100%;
    width: 100%;
}

.middlebox {
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 60px;
}

#middlebox-topbar {
    top: 0;
    border-radius: 5px 5px 0px 0px;
    vertical-align: top;
    width: 100%;
    overflow: hidden;
    background-color: #33235f;
    padding: 10px;
}

#middlebox-topbar p{
    color: white;
    margin: 0;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    /* For mobile phones: */
    #title {
        text-align: center;
        width: 100%;
        margin-left: 0;
        padding-left: 0;
    }

    #nav {
        overflow: hidden;
        padding-right: 0;
        width: 100%;
    }

    #nav ul {
        width: 100%;
        clear: right;
    }

    #nav li {
        height: 70px;
    }

    #nav a {
        width: 50%;
        padding: 0;
    }

    #bar {
        height: auto;
        overflow: auto;
        width: 100%;
    }
}
