.trip {
  margin-top: 25px;
}

.info {
  box-sizing: border-box;
  overflow: hidden;
  padding: 15px;
  margin: 0px auto;
  width: 75%;
  background-color: white;
  border-radius: 3px 3px 0 0;
  border: 1px solid #8e77bc;
}

.info .button {
  margin-top: 20px;
  margin-right: 10px;
  float: right;
}

.info::after {
  clear: right;
}

.info form::after {
  clear: right;
}

.chat {
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: none;
  height: 100px;
  padding: 15px;
  margin: 0px auto;
  width: 75%;
  background-color: lightgrey;
  border: 1px solid #8e77bc;
}

.chatbar {
  display: flex;
  margin: 0px auto;
  width: 75%;
  background-color: white;
  border: 1px solid #8e77bc;
  border-radius: 0 0 3px 3px;
  overflow: hidden;
}

.chatbar::after {
  clear:left;
}

.chatbar input {
  flex: 2;
  width: 100%;
  height: auto;
  margin: 0;
  border: 0;
}

.chatbar .button {
  padding: 5px;
  height: auto;
  float: right;
}

.chevron {
  margin: 10px;
  font-size: 1.3em;
  display: inline-block;
}

.depart {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}

.dest {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}

.date {
  display: block;
  float: right;
}

.status {
  clear: both;
  display: block;
  float: right;
  width: 50%;
  text-align: right;
}

.buttons::after {
  clear:left;
}

.show.button {
  float: right;
  width: auto;
}

.swal-button-container .button {
  float: right;
  background-color: #33235f;
}

@media screen and (max-width: 768px) {
  .info {
    width: 90%;
  }

  .chat {
    width: 90%;
  }

  .chatbar {
    width: 90%;
  }

  .chatbar input {
    width: auto;
  }
}
